# Dependencias
node_modules/

# Variables de entorno
.env
Backend/.env

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de build
dist/
build/

# Configuración IDE
.vscode/
.idea/