/*Estilos para la Pagina principal*/
body{
    background-color: #F5E6CC;
}
*{
    padding: 1px;
    margin: 0;
}
a{
    color: #FFFFFF;
}
#Contenedor{
    width: auto;
    background: linear-gradient(#8B0000, #FF0000);
    border-radius: 10px;
    padding: 0px;
}
header{
    width: 1480px;
    height: 90px;
    color: #FFFFFF;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
	float: right;
	list-style: none;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}
img#logo{
    width: 80px;
    height: 80px;
}
/*Seccion uno de informacions*/
section#uno{
    background-color: #C0392B;
    width: 450px;
    height: 250px;
    margin: 10px;
    margin-left: 200px;
    border-radius: 10px;
}
section#informacion{
    background-color: #FFFFFF;
    width: 440px;
    height: 240px;
    margin: 4px;
    border-radius: 10px;
}
/*Seccion dos de imagen*/
section#dos{
    background-color: #C0392B;
    width: 450px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 860px;
    margin-right: -600px;
    margin-top: -262px;
}
section#derecha{
    width: 420px;
    height: 220px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: -0px;
    margin-left: 0px;
    float: left;
    border-radius: 10px;
    margin: 4px;
}
footer {
  background: linear-gradient(#FF0000, #8B0000);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin-top: 230px;
  border-radius: 10px;
}
img#imagen1{
    width: 420px;
    height: 220px;
}