body{
    background-color: #F5E6CC;
    margin: 0;
}
*{
    padding: 1px;
    margin: 0;
}
a{
    color: #FFFFFF;
}
a#valC{
    color: #0000FF;
}
#Contenedor{
    width: auto;
    background: linear-gradient(#8B0000, #FF0000);
    border-radius: 10px;
    padding: 0px;
}
header#uno{
    width: 1480px;
    height: 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
nav ul li{
	float: right;
	list-style: none;
    margin-right: -20px;
    margin-top: 35px;
    cursor: pointer;
}
img#logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}
section#uno{
    background-color: #C0392B;
    width: 321px;
    height: 465px;
    margin: 35px auto;
    display: block;
    border-radius: 10px 10px 10px 10px;
    margin-left: 600px;
}
section#form{
    background-color: #FFFFFF;
    width: 310px;
    height: 455px;
    margin: 4px;
    border-radius: 10px;
}
h1{
    margin-top: 30px;
}
ul li{
    list-style: none;
}
button#siguiente{
    background-color: #32CD32;
    border: none;
    padding: 4px 5px;
    margin-right: 10px;
    border-radius: 80px;
    font-size: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    color: #FFFFFF;
}
legend{
    text-align: center;
}
p#Cont{
    text-align: center;
    color: #778899;
}

/** Esta parte es de los botones de Inicio de Sesión con Google o Facebook*/
button#btnGoogle{
    width: 300px;
    border-color: dimgray;
    border-radius: 30px;
}
button#btnFacebook{
    width: 300px;
    border-color: dimgray;
    border-radius: 30px;
}
a#G{
    color: #000000;
}
a#F{
    color: #000000;
}