body{
    background-color: #F5E6CC;
}
*{
    padding: 1px;
    margin: 0;
}
a{
    color: #FFFFFF;
}
#Contenedor{
    width: 1268px;
    background: linear-gradient(#8B0000, #FF0000);
    border-radius: 10px;
    padding: 0px;
}
header{
    width: 1190px;
    height: 90px;
    color: #FFFFFF;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
	float: right;
	list-style: none;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
}
h1{ 
    margin-left: 400px;
    margin-bottom: 5px;
}
img#logo{
    width: 80px;
    height: 80px;
}
h1{
    margin-right: 460px;
}
section{
    background-color: #C0392B;
    width: 321px;
    height: 430px;
    margin: 10px;
    margin-left: 450px;
    border-radius: 10px;
}
section#sec{
    background-color: #FFFFFF;
    width: 310px;
    height: 420px;
    margin: 4px;
    border-radius: 10px;
}
button#continuar{
    background-color: #32CD32;
    width: 305px;
    height: 30px;
    color: #FFFFFF;
    border:none;
    border-radius: 80px;
}
legend{
    text-align: center;
}
h4{
    text-align: center;
}
input{
    width: 300px;
}
input#telefonoContacto{
    width: 240px;
}
/*Estos son los botones de Google y Facebook*/

p#Cont{
    text-align: center;
    color: #778899;
}
button#btnGoogle{
    width: 300px;
    border-color: dimgray;
    border-radius: 30px;
}
button#btnFacebook{
    width: 300px;
    border-color: dimgray;
    border-radius: 30px;
}
a#G{
    color: #000000;
}
a#F{
    color: #000000;
}